<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento de pruebas 1</title>
</head>
<body>

    {% include 'header_footer/barra_navegacion.html' %}

    <h1 style="color: cadetblue;">Esta es mi primer template con Django</h1>
    <p>Mi nombre es {{nombre_usuario.upper}} y soy de {{ubicacion_usuario.upper}}</p>
    <p>Mi nombre es {{nombre_usuario|upper}} y soy de {{ubicacion_usuario|lower}}</p>

    {% comment %}
    {{nombre_usuario.upper}} se puede llamar a la clase con el método del punto, o se
    puede pasar la salida a través de un pipe | y obtener lo requerido como en
    {{ubicacion_usuario|upper}}
    {% endcomment %}
    
    <p>La fecha completa standard actual es: {{fecha_actual}}</p>
    <p>la hora actual es {{fecha_actual.time}}</p>
    <p>la fecha europea es {{fecha_actual.day}}/{{fecha_actual.month}}/{{fecha_actual.year}}</p>
</body>
</html>
